/* ============================== TAG STYLES ===============================*/
body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    font-family: 'Outfit', sans-serif;
    /* position: relative; */
}

/* div {
    position: relative; 
    margin: auto;
}
*/

h2 {
    width: 18rem;
    margin: auto;
    padding: 10px;
    color: hsl(218, 44%, 22%);
}

p {
    width: 16rem;
    margin: auto;
    padding: 10px 0 30px;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}
/* ============================== CLASS STYLES =============================*/
.main {
    background-color: hsl(0, 0%, 100%);
    margin: 100px;
    border-radius: 1.5rem;
    padding: 10px;
    /* position: relative; */
    display: inline-block;
}

.qr {
    width: 18rem;
    margin: 5px;
    border-radius: 1rem;
    /* position: relative; */

}